.shop {

	&__container {
		@include adaptiveValue("gap", 70, 30);
		display: flex;
		align-items: start;
		@media (max-width:$mobile){
			flex-direction: column;
		}
	}
	
	&__list{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		@include adaptiveValue("column-gap", 50, 20);
		@include adaptiveValue("row-gap", 30, 20);
		@media (max-width:em(1150)){
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width:$mobileSmall){
			grid-template-columns: auto;
		}
	}
}

.list-shop{}


.filter-shop {
	display: grid;
	@include adaptiveValue("row-gap", 40, 20);
	@media (max-width:$mobile){
		width: 100%;
	}
	&__name {
		input{
			@include adaptiveValue("width", 250, 200);
			@media (max-width:$mobile){
				width: 100%; 
			}
		}
	}

	&__categories {
		display: grid;
		@include adaptiveValue("gap", 10, 5);
		text-align: left;
		span{
			font-size: toRem(18);
			&:not(:last-child){
			@include adaptiveValue('margin-bottom', 10, 5);
			}
		}
	}

	&__category {
		label{
			display: flex;
			align-items: center;
			margin-bottom: toRem(5);
			gap:toRem(15);
			white-space: nowrap;
		}
	}

	&__prices {
		max-width: toRem(250);
		border-radius: toRem(10);
	}

	&__price-input {
		width: 100%;
		display: flex;
		margin: 1.875rem 0 2.1875rem;
	}

	&__field {
		width: 100%;
		height: 2.8125rem;
		input {
			width: 100%;
			height: 100%;
			outline: none;
			font-size: 1.1875rem;
			border-radius: 0.3125rem;
			text-align: center;
			-moz-appearance: textfield;
		}
	}

	&__input-min {}

	&__separator {
		width: 8.125rem;
		display: flex;
		font-size: 1.1875rem;
		align-items: center;
		justify-content: center;	
	}

	&__input-max {}

	&__slider {
		height: 0.3125rem;
		position: relative;
		background: #ddd;
		border-radius: 0.3125rem;
	}

	&__progress {
		height: 100%;
		left: 0;
		right: 0;
		position: absolute;
		border-radius: 0.3125rem;
		background: #17A2B8;
	}

	&__range-input {
		position: relative;
		input {
			position: absolute;
			width: 100%;
			height: 0.3125rem;
			top: -0.3125rem;
			background: none;
			pointer-events: none;
			-webkit-appearance: none;
			-moz-appearance: none;
		}
	}

	&__range-min {}

	&__range-max {}

	&__add-product{
		width: 100%;
		button{
			width: 100%;
		}
	}
}

input[type="range"]::-webkit-slider-thumb {
	height: 1.0625rem;
	width: 1.0625rem;
	border-radius: 50%;
	background: #17A2B8;
	pointer-events: auto;
	-webkit-appearance: none;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

input[type="range"]::-moz-range-thumb {
	height: 1.0625rem;
	width: 1.0625rem;
	border: none;
	border-radius: 50%;
	background: #17A2B8;
	pointer-events: auto;
	-moz-appearance: none;
	box-shadow: 0 0 0.375rem rgba(0, 0, 0, 0.05);
}
